h1, p {
    font-family: 'SF Pro Text', 'SF Pro Display Ultralight', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100;
}

p {
    font-size: 1.4rem;
}

#container {
    width: '100%';
    height: '100%';
    background-color: #222;
}

#background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 621px;
    height: 1344px;
    padding: 20px;
    background-color: black;
}

#clockBox {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

#clockBox h1 {
    font-size: 9em;
    color: white;
}

#buttonBox {
    display: flex;
    flex: .5;
    justify-content: space-between;
    align-items: center;
}

.buttonCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8rem;
    height: 8rem;
    border: solid 3px black;
    border-radius: 50%;
}

.buttonBackground {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 9rem;
    height: 9rem;
    border-radius: 5rem;
    border-width: 0;
}

button p {
    font-weight: bold;
}

.startButton {
    background-color: rgba(81, 194, 111, .25);
}

.stopButton {
    background-color: rgba(232, 28, 28, .20);
}

.startButton p {
    color: lightgreen;
}

.stopButton p {
    color: red
}

#resetLapButton {
    background-color: rgba(232, 232, 232, .25);
}

#resetLapButton p {
    color: white;
}

#lapView {
    overflow: auto;
    flex: 1;
    scrollbar-width: 50px;
}

#lapView div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top-width: 1px;
    border-top-style: solid;
    border-color: rgba(255, 255, 255, .2);
    width: '100%';
}

#lapView .normalLap {
    color: white;
}

#lapView .fastLap {
    color: lightgreen;
}

#lapView .slowLap {
    color: red;
}

#lapView .mask {
    color: white;
}