:root{
    --scrollbar-thumb-color: rgba(255, 255, 255, .2);
    --scrollbar-thumb-hover-color: rgba(255, 255, 255, .4);
    --scrollbar-thumb-active-color: rgba(255, 255, 255, .8);
    --body-color: rgba(255, 255, 255, 1);
    --lap-border-color: rgba(255, 255, 255, .1);
    --normal-lap-color: white;
    --fast-lap-color: lightgreen;
    --slow-lap-color: rgba(255, 0, 0, 1);
    --start-button-p-color: lightgreen;
    --stop-button-p-color: red;
    --reset-lap-button-p-color: white;
    --start-button-color: rgba(81, 194, 111, .25); 
    --start-button-active-color: rgba(81, 194, 111, .1);
    --start-button-hover-color: rgba(81, 194, 111, .3);
    --stop-button-color: rgba(232, 28, 28, .20);
    --stop-button-active-color: rgba(232, 28, 28, .1);
    --stop-button-hover-color: rgba(232, 28, 28, .3);
    --reset-lap-color: rgba(232, 232, 232, .25);
    --reset-lap-active-color: rgba(232, 232, 232, .1);
    --reset-lap-hover-color: rgba(232, 232, 232, .3);
    --shadow-color: rgba(0, 0, 0, .2);
}

body {
    background-color: var(--body-color);
}

h1, p {
    user-select: none;
}

h1 {
    font-family: 'SF Pro Display Ultralight', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 50;
    font-variant-numeric: tabular-nums;
}

p {
    font-family: 'SF Pro Text Thin', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: .75rem;
    font-weight: bold;
    font-variant-numeric: tabular-nums;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    height: 600px;
    padding: 0 5px 0 10px ;
    padding-bottom: 30px;
    border-radius: 10px;
    box-shadow: -5px 5px 5px var(--shadow-color);
    background-color: black;
}

#clock-box {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex: .9;
}

#clock-box h1 {
    font-size: 4.3rem;
    color: white;
}

#button-box {
    display: flex;
    flex: .3;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    border: double 5px black;
}

#start-stop-button {
    margin-right: 5px;
}

.button--start-color {
    background-color: var(--start-button-color);
}

.button--start-color:hover {
    background-color: var(--start-button-hover-color);
}

.button--start-color:active {
    background-color: var(--start-button-active-color);
}

.button--stop-color {
    background-color: var(--stop-button-color);
}

.button--stop-color:hover {
    background-color: var(--stop-button-hover-color);
}

.button--stop-color:active {
    background-color: var(--stop-button-active-color)
}

.button--start-color p {
    color: var(--start-button-p-color);
}

.button--stop-color p {
    color: var(--stop-button-p-color);
}

#reset-lap-button {
    background-color: var(--reset-lap-color);
}

#reset-lap-button:hover {
    background-color: var(--reset-lap-hover-color);
}

#reset-lap-button:active {
    background-color: var(--reset-lap-active-color);
}

#reset-lap-button p {
    color: var(--reset-lap-button-p-color);
}

#lap-view {
    border-top-width: 1px;
    border-top-style: solid;
    border-color: var(--lap-border-color);
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 10px;
    flex: 1;
}

#lap-view::-webkit-scrollbar {
    position: absolute;
    width: 3px;
}

#lap-view::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb-color);
    border-radius: 1px;
    opacity: .5;
}

#lap-view::-webkit-scrollbar-thumb:hover {
    background-color: var(--scrollbar-thumb-hover-color);
}

#lap-view::-webkit-scrollbar-thumb:active {
    background-color: var(--scrollbar-thumb-active-color);
}

.lap-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px 0 10px;
    border-top-width: 1px;
    border-top-style: solid;
    border-color: var(--lap-border-color);
    width: '100%';
    height: 35px;
}

.lap-box__text {
    display: inline-block;
    font-weight: bold;
    color: var(--normal-lap-color);
}

.lap-box--fast-color p {
    color: var(--fast-lap-color);
}

.lap-box--slow-color p {
    color: var(--slow-lap-color);
}

.lap-box--mask-color p {
    color: var(--normal-lap-color)
}